.dialogs__tittle {
	color: #333333;
	padding: 0 0 0 15px;
	font-family: "Crimson Text", serif;
	font-weight: 500;
	font-size: 30px;
	background: linear-gradient(to right, #cccccc, white);
}

.dialogs__container {
	display: flex;
}

.dialogs__user-name {
	margin: 0 50px;
	padding: 0 95px 0 0;
	display: inline-block;
	border-right: 1px solid black;
}

.dialogs__user-name ul {
	display: flex;
	flex-direction: column;
}

.dialogs__user-name li {
	margin: 0 0 25px 0;
	list-style: circle;
}

.dialogs__user-name li:hover {
	list-style: disc;
}

.dialogs__user-name a {
	font-size: 25px;
	color: #666;
}

.dialogs__user-name a:hover {
	color: black;
	transition: 0.3s;
}

.massage__container {
	margin: 50px;
}

.user__item{
	width: 500px;
	overflow: auto;
	height: 690px;
}

.massage__container textarea{
	width: 100%;
	resize: none;
	height: 50px;
	border-radius: 5px;
	padding: 5px;
	font-family: "Crimson Text", serif;
	font-size: 20px;
	letter-spacing: 1px;
}

.massage__container button{
	width: 120px;
	height: 25px;
	margin: 10px 0 0 0;
	background-color: #6633ff;
	color: white;
	font-weight: 500;
	border-radius: 5px;
	border: none;
}
